*.tar.gz
.idea
*.exe
*.exe~
*.log
log/
# Binaries for programs and plugins
02-Sorting-Basic/01-Selection-Sort/01-Selection-Sort
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#